fastapi
uvicorn
fastapi[standard]
sqlmodel
passlib
pyjwt
asyncpg
bcrypt

alembic
psycopg2

langchain
langchain_community
huggingface
langchain-groq
langchain-huggingface
youtube-transcript-api
huggingface
sentence-transformers
faiss-cpu