fastapi
uvicorn
fastapi[standard]
sqlmodel
passlib
pyjwt
asyncpg
bcrypt


langchain
langchain_community
huggingface
langchain-groq
langchain-huggingface
youtube-transcript-api
huggingface
sentence-transformers
chromadb
langchain_chroma